<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unico_check">

    <application>

        <activity
            android:name=".SelfieCameraActivity"
            android:noHistory = "true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DocumentCameraActivity"
            android:noHistory = "true"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
